.angular-range-slider {
  display: inline-block;
  position: relative;
  height: 10px;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle; }
  .angular-range-slider div {
    white-space: nowrap;
    position: absolute; }
    .angular-range-slider div.bar {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: #D7D7D7;
      z-index: 0;
      overflow: hidden; }
      .angular-range-slider div.bar .selection {
        width: 0;
        height: 100%;
        background: #d9534f; }
    .angular-range-slider div.handle {
      cursor: pointer;
      width: 40px;
      height: 40px;
      top: -15px;
      background-color: #d9534f;
      border: 3px solid #fff;
      z-index: 2;
      border-radius: 100%; }
      .angular-range-slider div.handle.active {
        background-color: #CB3E3A; }
    .angular-range-slider div.bubble {
      display: none;
      cursor: default;
      top: -32px;
      padding: 1px 3px 1px 3px;
      font-size: 0.7em;
      font-weight: bold;
      font-family: sans-serif; }
      .angular-range-slider div.bubble.active {
        /*display: inline-block;*/ }
      .angular-range-slider div.bubble.limit {
        color: #777; }

/*# sourceMappingURL=angular-range-slider.css.map */