* {
    outline: none
}

body {
    color: #312f2e;
    font-family: "Open Sans", "Helvetica Neue",Helvetica,sans-serif;
    -webkit-font-smoothing: antialiased;
}

p {
    color: #312f2e;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

.content {
    background-color: #f3f3f3;
}

.content-padded {
    padding: 18px 15px 18px 15px;
    margin: 0;
}

.title {
    font-weight: bold;
}

.logo {
    font-size: 24px;
    text-align: left;
    padding-left: 10px;
    width: auto;
}

.icon > .fa {
    font-size: 20px;
    line-height: 20px;
}

.bar .btn-icon {
    font-size: 14px;
    line-height: 14px;
    padding: 6.5px 9px 6.5px 9px;
}

.btn.link,
.btn.link.active,
.bar-inverse .btn.link,
.bar-inverse .btn.link:active,
.bar-inverse .btn.link.active {
    background-color: transparent;
    border-color: transparent;
}

.bar-inverse .btn.link {
    color: #9d3a37;
}

.bar-inverse .btn.link.active {
    color: #fff;
} 

.bar form {
    position: absolute;
    height: 100%;
    right: 10px;
    left: 35px;
}

.bar input[type="text"] {
    background-color: transparent;
    border-color: transparent;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    margin: 6px 0 0 0;
    padding: 4px 6px 4px 6px;
    position: absolute;
    width: 100%;
}

.bar-header-secondary {
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.bar-header-secondary a.address {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.bar-inverse {
    color: #fff;
    background-color: #d9534f;
}

.bar-inverse ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #9d3a37;
    opacity:  1;
}
.bar-inverse :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #9d3a37;
    opacity:  1;
}
.bar-inverse ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #9d3a37;
    opacity:  1;
}
.bar-inverse :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #9d3a37;
}

.bar-inverse .btn {
    color: #fff;
    font-weight: bold;
    border-color: #f45c57;
    background-color: #f45c57;
}

.bar-inverse .btn.active,
.bar-inverse .btn:active {
    border-color: #f66e6a;
    background-color: #f66e6a;
}

.bar-inverse .btn.link {
    color: #9d3a37;
}

.bar-inverse .title,
.bar-inverse a {
    color: #fff;
}

.bar-nav {
    border-bottom-color: transparent;
}

.bar-tab .tab-item.active{
    color: #d9534f;
}

.bar-tab .tab-item:active {
    /*color: #676767;*/
    color: #929292;
}

.bar-header-secondary .icon {
    float: left;
    line-height: 20px;
}

.bar-header-secondary .fa {
    font-size: 18px;
    line-height: 24px;
}

/* segmented control */
.bar-header-secondary .segmented-control {
    font-weight: bold;
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: #f45c57;
    border-color: transparent;
    border: 0;
}

.bar-header-secondary .segmented-control .control-item {
    color: #fff;
    border-color: transparent;
}
.bar-header-secondary .segmented-control .control-item:active {
    background-color: #f66e6a;
}

.bar-header-secondary .segmented-control .control-item.active {
    background-color: #C04441;
    border-color: transparent;
}
/* ----------- */

.table-view-cell {
    padding: 18px 65px 18px 15px;
}
.table-view-cell>a:not(.btn) {
    margin: -18px -65px -18px -15px;
}

.content>.table-view-tasklist:first-child {
    margin-top: -1px;
}

.table-view-tasklist h4 {
    line-height: 24px;
    margin-bottom: 0;
    /*font-weight: normal;*/
}

.table-view-divider {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #eeeeee;
    /*border-color: transparent;*/
}

.table-view-tasklist > .table-view-cell {
    padding-right: 15px;
}

.table-view-tasklist > .table-view-cell>a:not(.btn) {
    margin-right: -15px;
}

.table-view-tasklist > .table-view-cell .media-body {
    width: 75%;
}

.table-view-tasklist > .table-view-cell .media-body h4 {
    font-weight: normal;
}

.table-view-tasklist > .table-view-cell .media-object {
    width: 25%;
    position: absolute;
    right: 15px;
    /*top: 12px;*/
    bottom: 18px;
}

/*.table-view-tasklist > .table-view-cell .media-object .price,
.table-view-tasklist > .table-view-cell .media-object p {
    position: absolute;
}

.table-view-tasklist > .table-view-cell .media-object .price {
    top: 12px;
    right: 15px;
}

.table-view-tasklist > .table-view-cell .media-object p {
    bottom: 11px;
    right: 15px;
}*/
    

.price {
    color: #d9534f;
    font-weight: bold;
    white-space: nowrap;
}

.small {
    font-size: 70%;
    /*-webkit-font-smoothing: subpixel-antialiased;*/
}

.text-muted {
    color: #828282;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/*form label {
    display: block;
    width: 30%;
    float: left;
}
form input[type="text"] {
    float: right;
    width: 70%;
}
*/

.input-group {
    padding: 20px 15px 20px 15px;
    border-bottom: 1px solid #ddd;
    /*margin-bottom: 15px;*/
}

.input-group.muted {
    background-color: #f3f3f3;
}

.input-group input,
.input-group textarea {
    border-bottom: 0;
    padding-bottom: 0;
}

.input-group input[type="text"] {
    padding-left: 0;
}

.input-group textarea {
    /*margin-top: 15px;*/
    padding: 7.5px 0 5px 0;
    /*border: 1px solid #ddd;*/
}

.input-group .toggle {
/*    margin-top: -4px;*/
}

.input-group label p {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 4px;
}

label .price {
    line-height: 20px;
    margin-bottom: 0;
}

.toggle {
    font-weight: bold;
    font-size: 12px;
    background-color: inherit;
}
.toggle.active {
    background-color: #d9534f;
    border: 2px solid #d9534f;
}

.toggle:before {
    content: "No";
}

.toggle.active:before {
    content: "Yes";
}

.toggle.active .toggle-handle {
    border-color: #d9534f;
}

.btn-block {
    font-size: 16px;
    padding: 12px 0;
}

.btn-brand {
    font-weight: bold;
    color: #fff;
    background-color: #d9534f;
    border-color: transparent;
}

.btn-brand:active {
    color: #fff;
    background-color: #CB3E3A;
}

.map {
    height: 150px;
    width: 100%;
    background-color: #DBDBDB;
}

#login {
    color: #fff;
    background-color: #d9534f;
}

#loginForm .btn {
    color: #fff;
}

#loginForm {
    margin: 25px;
    margin-top: 80px;
}

#loginForm h2 {
    margin-bottom: 40px;
}

#loginForm input {
    color: #312f2e;
    font-size: 18px;
    line-height: 24px;
    padding: 20px 15px;
    border-color: transparent;
}

#loginForm .btn-brand {
    color: #fff;
    background-color: #f45c57;
    border-color: transparent;
}
