<!-- <a class="icon">
  <i class="fa fa-bars"></i>
</a> -->
<a class="address"><i class="fa fa-location-arrow"></i>&nbsp;&nbsp;&nbsp;Энтузиастов 9/1</a>
<!-- <form>
  <input type="text" placeholder="Where are you?" value="Энтузиастов 9/1">
</form> -->