<header class="bar bar-nav bar-inverse" ui-view="header"></header>
<div ng-class="{ 'bar bar-standard bar-inverse bar-header-secondary' : subheader }" ui-view="subheader" ng-show="subheader"></div>

<nav class="bar bar-tab">
  <a class="tab-item" ui-sref="home.activity" ui-sref-active="active" ng-click="postsFilter='activity'">
    <span class="icon"><i class="fa fa-list-ul"></i></span>
    <span class="tab-label">Activity</span>
  </a>
  <a class="tab-item" ui-sref="home.ready" ui-sref-active="active" ng-click="postsFilter='ready'">
    <span class="icon"><i class="fa fa-bolt"></i></span>
    <span class="tab-label">I'm Ready</span>
  </a>
  <a class="tab-item" ui-sref="home.own" ui-sref-active="active" ng-click="postsFilter='own'">
    <span class="icon"><i class="fa fa-share"></i></span>
    <span class="tab-label">My Posts</span>
  </a>
</nav>

<!-- <nav class="bar bar-tab">
  <a class="tab-item" ng-click="$state.go('home.activity')" ng-class="{ 'active' : $state.includes('home.activity') }">
    <span class="icon"><i class="fa fa-list-ul"></i></span>
    <span class="tab-label">Activity</span>
  </a>
  <a class="tab-item" ng-click="$state.go('home.ready')" ng-class="{ 'active' : $state.includes('home.ready') }">
    <span class="icon"><i class="fa fa-bolt"></i></span>
    <span class="tab-label">I'm Ready</span>
  </a>
  <a class="tab-item" ng-click="$state.go('home.own')" ng-class="{ 'active' : $state.includes('home.own') }">
    <span class="icon"><i class="fa fa-share"></i></span>
    <span class="tab-label">My Posts</span>
  </a>
</nav> -->

<div ui-view="content" class="content"></div>