<h1 class="title"><a ui-sref="home.activity"><i class="fa fa-chevron-left"></i></a></h1>
<div class="pull-right">
    <button class="btn btn-icon link">
      <i class="fa fa-bell"></i>
    </button>
    <button class="btn btn-icon">
      <i class="fa fa-plus"></i><!--  Create post -->
    </button>
</div>
