<ul class="table-view table-view-tasklist">
  <li class="table-view-cell table-view-divider small">Really close</li>
  <li class="table-view-cell media" ng-repeat="post in posts | filter: postsFilter">
    <a ui-sref="home.activity.post({ id: post.id })"><!-- ui-sref here -->
      <div class="media-body pull-left">
        <h4>{{post.title}}</h4>
        <p class="text-muted small">{{post.address}}</p>
      </div>
      <div class="media-object text-right pull-right">
        <h4 class="price">$&thinsp;{{post.price}}</h4>
        <p class="text-muted small">Be first!</p>
      </div>
    </a>
  </li>
</ul>
