<form>
    <div class="input-group">
        <label>What do you need?</label>
        <input type="text" placeholder="Be descriptive">
    </div>
    <div class="input-group">
        <label>Where are you?</label>
        <input type="text" placeholder="Fetching your address...">
    </div>
    <div class="input-group">
        <label>Paying <h4 class="price pull-right">$&thinsp;{{price}}</h4></label>
        <div data-range-slider
             data-floor="5"
             data-ceiling="100"
             data-step="1"
             data-precision="2"
             data-highlight="left"
             data-ng-model="price"></div>
    </div>
    <!-- <div class="input-group muted clearfix">
        <label class="pull-left"><p>Show to users close to me</p></label>
        <div class="toggle active pull-right">
          <div class="toggle-handle"></div>
        </div>
    </div> -->
    <div class="input-group">
        <label>Details</label>
        <textarea rows="3" placeholder="Any detals here"></textarea>
        <a class="btn btn-brand btn-block">Submit</a>
    </div>
</form>
