<div class="content-padded">
    <p class="small"><span class="text-muted">by </span>{{post.author}}</p>
    <h4>{{post.title}}</h4>
</div>
<div class="map"></div>
<div class="content-padded">
    <div class="clearfix">
    <p class="pull-left address">{{post.address}}</p>
    <h4 class="pull-right price">$&thinsp;{{post.price}}</h4>
    </div>
    <p>{{post.message}}</p>
</div>