<header class="bar bar-nav bar-inverse" ui-view="header"></header>
<div ng-class="{ 'bar bar-standard bar-inverse bar-header-secondary' : subheader }" ui-view="subheader" ng-show="subheader"></div>

<div ui-view="content" class="content"></div>