body { padding-top: 70px!important}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  height: auto;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
}
/*
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}*/

.alertbox {
  position: absolute;
  top: 70px;
  width: 100%;
}

.create {
  margin-right: 15px;
  margin-left: 15px;
}

.nav-tabs {
  margin-bottom: 20px;
}

.zero-clipboard {
  display: block;
  position: relative;
}

.btn-group-clipboard {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;
  display: block;
  font-size: 12px;
  color: #767676;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px 0 4px;
}

.btn-clipboard {
  display: block;
  padding: 5px 8px;
  float: left;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-right: 1px solid #e1e1e8;
  text-decoration: none;
  color: #777;
}

.btn-clipboard:first-child {
  border-bottom-left-radius: inherit!important;
}

.btn-clipboard:last-child {
  border-right: 0;
  border-top-right-radius: inherit;
  border-bottom-left-radius: 0;
}

.btn-clipboard:hover {
  background-color: #d9534f;
  text-decoration: none;
  color: #ffffff;
}
/*.zero-clipboard {
  display: block;
  position: relative;
}

.btn-group-clipboard {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;
  display: block;
  font-size: 12px;
  color: #767676;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e1e1e8;
  border-radius: 0 4px 0 4px;
}

.btn-clipboard {
  display: block;
  padding: 5px 8px;
  float: left;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-right: 1px solid #e1e1e8;
  text-decoration: none;
  color: #d43f3a;
}

.btn-clipboard:first-child {
  border-bottom-left-radius: inherit!important;
}

.btn-clipboard:last-child {
  border-right: 0;
  border-top-right-radius: inherit;
  border-bottom-left-radius: 0;
}

.btn-clipboard:hover {
  background-color: #d9534f;
  text-decoration: none;
  color: #ffffff;
}*/
/*.btn-group-clipboard {
  position: absolute;
  top: -1px;
  right: -1px;
  z-index: 10;
  display: block;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
  background-color: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 0 4px 0 4px;
}

.btn-clipboard {
  display: block;
  padding: 5px 8px;
  float: left;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-right: 1px solid #d43f3a;
  text-decoration: none;
  color: #ffffff;
}

.btn-clipboard:first-child {
  border-bottom-left-radius: inherit!important;
}

.btn-clipboard:last-child {
  border-right: 0;
  border-top-right-radius: inherit;
  border-bottom-left-radius: 0;
}

.btn-clipboard:hover {
  background-color: #c9302c;
  text-decoration: none;
  color: #ffffff;
}*/

.spinner {
  width: 100%;
  background-image: url('https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 18px;
}

#map {
  border-radius: inherit;
  margin-top: -20px;
  height: 250px;
  z-index: 0;
  position: relative;
}

.map {
  padding: 0;
}

.post-container {
  position: relative;
  z-index: 999;
}

.post-single {
  margin-top: -50px;
}

.coords {
  display: none;
}

.pricetag {
  float: right;
}

.pricetag h3{
  margin-top: 0;
}

.panel-body {
  position: relative;
}

.panel.master {
  margin-top: 30px;
}

.panel.master .panel {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 0;
}
  .panel.master > .panel.hover {
    background-color: #e7e7e7;
    cursor: pointer;
  }
  .panel.master .panel:last-child {
    border-bottom: 0;
  }
  .panel.master .panel p.lead {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
  }

.panel.vouched {
  /*border-color: #d9534f;*/
  border-left: 3px solid #d9534f!important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
  .vouched .fa-check,
  .vouched h3 {
    color: #d9534f;
  }

  .vouched h3 .fa-check {
    font-size: 18px;
  }

/* hide google maps copyrights for demonstration purposes */
a[href^="http://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

@media (max-width: 640px) {
  .pricetag {
    position: absolute;
    bottom: -1px;
    right: -1px;
    z-index: 10;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 4px 0  0 0;
  }
  .pricetag h3{
    display: block;
    margin-bottom: 0;
    padding: 5px 8px;
    font-size: 18px;
  }

  .vouch, .unvouch {
    float: none!important;
    display: block;
    width: 100%;
  }
}