{%extends "main_nav.html"%}

{%block content%}
{% if post == None:%}

<div class="container text-center">
<h3>You haven't been chosen for any task</h3>
</div>
{%else%}
    
    <div id="map"></div>
    <div class="alertbox">
        <div class="container">
        <div class="alert alert-info alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 id="oh-snap!-you-got-an-error!">You have been chosen for this task<a class="anchorjs-link" href="#oh-snap!-you-got-an-error!"><span class="anchorjs-icon"></span></a></h4>
            <p>Some words about tasks execution blah blah blah...</p>
            <p>
            <button type="button" class="btn btn-danger">Take this task</button>
            <button type="button" class="btn btn-default">Decline</button>
            </p>
        </div>
        </div>
    </div>
    <div class="container post-container">
        <div class="panel panel-default post-single">
            <div class="panel-body">
                <h3>{{post.title}}</h3>
                <p class="small text-muted">by {{post.owner_name}} at {{post.created_datetime}}</p>
                <p>{{post.text}}</p>

                <p class="small text-muted coords">Coords: <span class="lat">{{post.geo_lat}}</span>, <span class="lng">{{post.geo_long}}</span></p>

                <p class="text-muted small pull-left clarfix">
                    <i class="fa fa-map-marker"></i> <span class="address">{{post.address}}</span>
                </p>
                <div class="pricetag">
                    <h3 class="text-muted">$ {{post.price}}</h3>
                </div>
            </div>
        </div>
        <div class="panel panel-default master">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>{{post.selected.split(", ")[1]}}</h5>
                <a href="#" class="btn btn-default pull-right">YOU ARE THE CHOSEN ONE!</a>
            </div>
        </div>
        </div>

    </div>
{%endif%}
{%endblock%}