{% extends "main_nav.html" %}

{% block content %}
<div class="container">
    <form id="editPost" method="post">
        <div class="panel panel-default">
            <div class="zero-clipboard">
                <div class="btn-group-clipboard">
                    <a class="btn-clipboard delete" href="/delete/?id={{post.id}}"><i class="fa fa-trash-o"></i> Delete</a>
                </div>
            </div>
            <div class="panel-body">
                <h3>Edit Post</h3>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" value="{{post.title}}">
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea name="text" class="form-control" rows="3">{{post.text}}</textarea>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <div class="input-group">
                        <input type="text" min="1" max="100000" class="form-control" name="price" placeholder="Enter amount" value="{{post.price}}" aria-describedby="currency-addon">
                        <span class="input-group-addon" id="currency-addon">$</span>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <h4>
                        <a id="updateLocation" class="btn btn-primary btn-xs">Update Location</a>
                    </h4>
                    <div class="row">
                        <div class="col-md-6">
                            <label></label>
                            <input type="text" class="form-control" name="latitude" placeholder="Latitude..." value='{{post.geo_lat}}' disabled="true">
                        </div>
                        <div class="col-md-6">
                            <label></label>
                            <input type="text" class="form-control" name="longitude" placeholder="Longitude..." value='{{post.geo_long}}' disabled="true">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="address" placeholder="Fetching address..." value="{{post.address}}" disabled="disabled">
                </div>
                <hr>
                <div class="text-right">
                    <a href="/post?p_id={{post.id}}" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary post-submit">Submit</button>
                </div>
            </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}