{%extends "main_nav.html"%}

{%block content%}
    <div class="container">
        <div class="text-center">
        <h1>Page Not Found</h1>
            <p class="lead">Nothing to look for here</p>
        </div>
    </div>
{%endblock%}