{% extends "base_log_reg.html" %}
{% block content %}
<form class="form-signin" method="post">
    {{error}}
    <h2 class="form-signin-heading">Войдите</h2>
    <input type="email" name="email" class="form-control" placeholder="Ваш Имейл" required autofocus value={{name}}>
    <input type="password" name="password" class="form-control" placeholder="Пароль" required value={{password}}>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="remember" value="remember-me"> Запомнить меня
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</form>
{% endblock %}
