<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Fetch Login</title>

        <!-- Font Awesome Icon Font -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Fetch</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">  
                        <ul class="nav navbar-nav">
                            <li><a href="/current">Выполняю</a></li>
                            <li><a href="/owned">Мои обьявления <span class="label label-danger">New</span></a></li>
                        </ul>
                        
                        <ul class="nav navbar-nav navbar-right">
                            </li><a href="/post-new" class="btn btn-danger navbar-btn create">Создать</a></li>
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                {{user.name}} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Редактировать профиль</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout">Выйти</a></li>
                            </ul>
                            </li>
                            
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </nav>
        </div>
            {% block content %}
            {% endblock %}

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

            <!-- Google Maps -->
            <script src="https://maps.googleapis.com/maps/api/js"></script>

            <!-- Custom JS -->
            <script src="/js/script.js"></script>
    </body>
</html>