{%extends "main_nav.html"%}

{%block content%}
<div class="container">
    <h2>Создать обьявление</h2>
    <h4 style="color:red">{{error}}</h4><br>
    <form id="createPost" method="post">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label>Title:</label>
                    <input type="text" class="form-control" name="title" placeholder="Enter title" value="{{title}}">
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea name="text" class="form-control" rows="3" placeholder="Your message">{{text}}</textarea>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <div class="input-group">
                        <input type="text" min="1" max="100000" class="form-control" name="price" placeholder="Enter amount" value="{{price}}" aria-describedby="currency-addon">
                        <span class="input-group-addon" id="currency-addon">$</span>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <h4 class="spinner">Location</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <label></label>
                            <input type="text" class="form-control" name="latitude" placeholder="Latitude.." value="">
                        </div>
                        <div class="col-md-6">
                            <label></label>
                            <input type="text" class="form-control" name="longitude" placeholder="Longitude.." value="">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="address" placeholder="Fetching address..." value="">
                </div>
                <hr>
                <div class="text-right">
                    <a href="/post/all" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-grey post-submit" disabled="disabled">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>
{%endblock%}