{% extends "main_nav.html" %}

{% block content %}
<div class="container">
    <h2>Ищу исполнителя</h2>
    <div class="panel panel-default master">
{%for post in posts%}
    {%if post.status == "Active":%}

    {%endif%}
    {%if post.status == "In progress":%}

    {%endif%}
    <div class="task filter panel panel-default {%if post.id in user_vouched_list:%}vouched{%endif%} {%if user_id == post.owner_id:%}owned{%endif%}" data="{{post.id}}">
        <!-- please consider putting it in class -->
            <div class="zero-clipboard">
                <div class="btn-group-clipboard">
                    <a class="btn-clipboard" href="/post-edit/{{post.id}}"><i class="fa fa-pencil"></i> Edit</a>
                    <a class="btn-clipboard delete" href="/delete/{{post.id}}"><i class="fa fa-trash-o"></i> Delete</a>
                </div>
            </div>
        <div class="panel-body">
            <h3>{{post.title}}</h3>
            <p class="lead text-muted">{{post.text[:70]}}...</p>
            <p class="pull-left clearfix">
                <span class="text-muted"><i class="fa fa-map-marker"></i> {{post.address}}
            </p>
            <div class="pricetag">
                <h3 class="text-muted">$ {{post.price}}</h3>
            </div>
        </div>
    </div>
{% endfor %}
    </div>
</div>
{% endblock %}