{% extends "main_nav.html" %}

{% block content %}
<div class="container">
    <h2>
    Обьявления <!-- рядом с вами -->
    <div class="dropdown dropdown-filter pull-right">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
        Все
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="" data="">Все</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="" data="owned">Созданные</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="" data="vouched">Готов выполнить</a></li>
        </ul>
    </div>
    </h2>
    <!-- <ul class="nav nav-tabs">
      <li role="presentation" class="active" data="all">Все</li>
      <li role="presentation" data="owned">Мои</li>
      <li role="presentation" data="vouched">Готов выполнить</li>
      <li role="presentation"><a href="/current">Текущая задача</a></li>
    </ul> -->
    <div class="panel panel-default master">
{% for post in posts:%}
    {%if post.status == "Active":%}
    <div class="task filter panel panel-default {%if post.id in user_vouched_list:%}vouched{%endif%} {%if user_id == post.owner_id:%}owned{%endif%}" data="{{post.id}}">
        <!-- please consider putting it in class -->
        {%if user_id == post.owner_id %}
            <div class="zero-clipboard">
                <div class="btn-group-clipboard">
                    <a class="btn-clipboard" href="/post-edit?id={{post.id}}"><i class="fa fa-pencil"></i> Edit</a>
                    <a class="btn-clipboard delete" href="/delete/?id={{post.id}}"><i class="fa fa-trash-o"></i> Delete</a>
                </div>
            </div>
        {%endif%}

        <div class="panel-body">
            <h3>{{post.title}}{%if post.id in user_vouched_list:%} <i class="fa fa-check"></i>{%endif%}</h3>

            
            
            <p class="lead text-muted">{{post.text[:70]}}...</p>
            
            <!-- <p class="small text-muted pull-left clearfix">
                <span class="address">{{post.address}}</span> at {{post.created_datetime}}
            </p> -->
            <p class="pull-left clearfix">
                <span class="text-muted"><i class="fa fa-map-marker"></i> {{post.address}}<!--  <i class="fa fa-long-arrow-right"></i></span> <span class="">@ метро Крещатик</span> -->
            </p>
            <div class="pricetag">
                <h3 class="text-muted">$ {{post.price}}</h3>
            </div>
        </div>
    </div>
    {%endif%}
{% endfor %}
    </div>
</div>
{% endblock %}