{%extends "main_nav.html"%}

{%block content%}
<div id="map"></div>
<div class="container post-container">
    <div class="panel panel-default post-single">
    	{%if user_id == post.owner_id %}
        	<div class="zero-clipboard">
                <div class="btn-group-clipboard">
                    <a class="btn-clipboard" href="/post-edit?id={{post.id}}"><i class="fa fa-pencil"></i> Edit</a>
                    <a class="btn-clipboard delete" href="/delete/?id={{post.id}}"><i class="fa fa-trash-o"></i> Delete</a>
                </div>
            </div>
        {%endif%}
        <!--
        <div class="panel-heading map">
            <div id="map"></div>
        </div>
        -->
        <div class="panel-body">
            {%if user_id in post.vouchers_ids()%}
            <h3>{{post.title}} --->> {{post.status}}<span class="vouched"> <i class="fa fa-check"></i></span></h3>
            {%else%}
            <h3>{{post.title}} --->> {{post.status}}</h3>
            {%endif%}
            <p class="small text-muted">by {{post.owner_name}} at {{post.created_datetime}}</p>
            <p>{{post.text}}</p>

            <p class="small text-muted coords">Coords: <span class="lat">{{post.geo_lat}}</span>, <span class="lng">{{post.geo_long}}</span></p>

            <p class="text-muted small pull-left clarfix">
                <i class="fa fa-map-marker"></i> <span class="address">{{post.address}}</span>
            </p>
            <div class="pricetag">
                <h3 class="text-muted">$ {{post.price}}</h3>
            </div>
        </div>
        {%if user_id != post.owner_id %}
            <div class="panel-footer text-right">
            {%if user_id in post.vouchers_ids()%}
                <a class="btn btn-danger unvouch" href="/vouch/{{post.id}}">Unvouch</a>
            {%else%}
                <a class="btn btn-danger vouch" href="/vouch/{{post.id}}">Vouch</a>
            {%endif%}
            </div>
        {%endif%}
    </div>
    {%if post.vouchers_names()%}
    <div class="panel panel-default master">
    {% for v in post.vouchers_prep():%}
    {% if v != None: %}
    <div class="panel panel-default">
        <div class="panel-body">
            {%if user_id == post.owner_id:%}
                <a href="/select/?p_id={{post.id}}&amp;u_id={{v[0]}}" class="btn btn-default pull-right" action="">Choose</a>
            {%endif%}
            <h5>{{v[1]}}</h5>
            <p class="text-muted small">Address</p>
        </div>
    </div>
    {%endif%}
    {%endfor%}
    </div>
    {%endif%}
</div>
{%endblock%}