{% extends "base_log_reg.html" %}

{% block content %}
<form class="form-signin" method="post">
    <h2 class="form-signin-heading">Зарегистрируйтесь</h2>
    <input type="text" name="name" class="form-control" placeholder="Ваше Имя" required autofocus value="{{name}}">
    <input type="email" name="email" class="form-control" placeholder="Ваш Имейл" required value="{{email}}">
    <input type="password" name="password" class="form-control" placeholder="Пароль" required>
    <input type="password" name="verify" class="form-control" placeholder="Повторить" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
</form>
<h4 type='{{have_error}}'> {{error_username}} {{error_password}} {{error_verify}} {{error_email}} </h4>
{% endblock %}
