<h1 class="logo title"><a ui-sref="home.activity">Fetch</a></h1>
<div class="pull-right">
    <a ui-sref="home.profile" ui-sref-active="active" class="btn btn-icon link">
      <i class="fa fa-user"></i>
    </a>
    <a ui-sref="posts.create" ui-active="active" class="btn btn-icon">
      <i class="fa fa-plus"></i>
    </a>
</div>
